@import url('https://fonts.cdnfonts.com/css/perfect-dos-vga-437');

#main {
    font-family: 'Perfect DOS VGA 437 Win', sans-serif;
    background-color: black;
    height: 100vh;
}

#img {
    display: none;
    opacity: 0;
}

#elements {
    margin-left: 10px;
}

#name-bios {
    margin-bottom: 20px !important;
    display: none;
    opacity: 0;
}

#memory, #skills, #learnings, #started-portfolio, #modules, #graphic, #starting-portfolio {
    display: none;
    opacity: 0;
}

span {
    color: rgb(0, 170, 0);
}

#main div img {
    width: 500px;
    height: 156px;
    margin-left: -30px;
    margin-top: -10px;
}
#main p {
    color: white;
    margin: 0;
}

.navbar {
    --bs-navbar-toggler-focus-width: 0 !important;
    --bs-navbar-padding-y: 2rem !important;
}

#navbar {
    background-color: black !important;
    height: 80px;
}

#navbar ul {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

#navbar button {
    border: none;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.nav-item a {
    color: white;
    transition: 0.4s;
    cursor: pointer;
}

.nav-item a:hover {
    color: rgb(46, 46, 221) !important;
}

#card {
    border: 2px solid white;
    border-radius: 2px;
    min-height: 470px;
    width: 90vw;
    color: white;
}

#card h1 {
    color: rgb(46, 46, 221);
    font-size: 70pt;
}

#card a {
    text-decoration: 0;
    margin-top: 10px;
}

#card a i {
    font-size: 40pt;
    transition: 0.4s;
    cursor: pointer;
    color: white;
}

#card a i:hover {
    color: rgb(46, 46, 221);
}

#card a + a {
    margin-left: 30px;
}

#techs-content div + div {
    margin-left: 20px;
}

.portfolio-card {
    width: 300px;
    border: 2px solid white;
    border-radius: 2px;
}