@media screen and (max-width: 1366px) {
    #card {
        min-height: 430px;
    }
}

@media screen and (max-width: 600px) {
    #title {
        padding: 1rem 2.5rem !important;
    }

    #card h1 {
        font-size: 45pt !important;
    }

    .portfolio-card + .portfolio-card {
        border-top: 2px solid white;
        padding-top: 10px;
    }
}

@media screen and (max-width: 414px) {
    #main #img img {
        width: 400px !important;
        height: 125px !important;
        margin-left: -20px !important;
    }

    #title {
        padding: 1rem 2rem !important;
    }

    form {
        width: 320px !important;
        height: 480px !important;
        padding: 30px 20px;
    }

    form div + div {
        margin: 10px 0 10px
    }

    #content-form {
        width: 250px !important;
    }

    input, textarea {
        width: 220px;
    }

    .portfolio-card {
        width: 320px !important;
    }

    .img-portfolio {
        width: 280px !important;
        height: 123px !important;
    }
}

@media screen and (max-width: 375px) {
    #title {
        padding: 1rem 1.5rem !important;
    }

    .portfolio-card {
        width: 300px !important;
    }

    .img-portfolio {
        width: 260px !important;
        height: 114px !important;
    }

    form {
        width: 300px !important;
        height: 460px !important;
    }
}