@media screen and (max-width: 1270px) {
    .java-text {
        font-size: 30px;
    }
    
    #text h2 {
        font-size: 28px;
    }

    #text h1 {
        font-size: 80px;
    }
}

@media screen and (max-width: 1170px) {
    .java-text {
        font-size: 28px;
    }
    
    #text h2 {
        font-size: 26px;
    }

    #text h1 {
        font-size: 75px;
    }

    #logo-portfolio {
        width: 400px;
    }
}

@media screen and (max-width: 1100px) {
    .java-text {
        font-size: 26px;
    }
    
    #text h2 {
        font-size: 24px;
    }

    #text h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 1000px) {
    .java-text {
        font-size: 26px;
    }
    
    #text h2 {
        font-size: 24px;
    }

    #text h1 {
        font-size: 65px;
    }

    #logo-portfolio {
        width: 350px;
    }
}

@media screen and (max-width: 992px) {
    .java-text {
        font-size: 22px;
    }
        
    #text h2 {
        font-size: 22px;
    }

    #text h1 {
        font-size: 60px;
    }

    .card-projeto {
        margin-left: auto;
        margin-right: auto;
    }

    #logo-portfolio {
        width: 300px;
    }
}

@media screen and (max-width: 850px) {
    .java-text {
        font-size: 20px;
    }
        
    #text h2 {
        font-size: 20px;
    }

    #text h1 {
        font-size: 55px;
    }

    #logo-portfolio {
        width: 280px;
    }
}

@media screen and (max-width: 825px) {
    .java-text {
        font-size: 18px;
    }

    #text {
        text-align: center;
    }
        
    #text h2 {
        font-size: 18px;
    }

    #text h1 {
        font-size: 50px;
        margin-bottom: 10px;
    }

    #logo-portfolio {
        width: 260px;
    }

    #navbar {
        margin-bottom: 50px;
    }

    #dev-div {
        display: inline !important;
    }
}

@media screen and (max-width: 730px) {

    .navbar-brand {
        white-space: normal !important;
    }
        
    #text h2 {
        font-size: 18px;
    }

    #text h1 {
        font-size: 50px;
        margin-bottom: 10px;
    }

    #logo-portfolio {
        width: 260px;
    }

    #tecnologias-title, #projetos-title, #contato-title {
        margin: 0 50px;
    }

    .accordion-item {
        width: 300px;
    }

    .accordion-button {
        height: 160px;
    }

    .accordion-button i {
        font-size: 70px;
    }

    .card-projeto {
        width: 350px;
    }

    .card-projeto p {
        font-size: 14px;
    }

    #title-projeto h4 {
        font-size: 18px;
    }

    #description-projeto p {
        font-size: 13px !important;
    }

    #about-me-content {
        font-size: 14px !important;
        padding: 30px 40px !important;
    }
}

@media screen and (max-width: 435px) {
    .card-contato {
        width: 320px !important;
    }

    #message {
        width: 275px !important;
    }
}